<h2>Register a New User</h2>

<section id="registration-form">
  <%= form_with url: users_path, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :email %>
    <%= f.text_field :email %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %><br>
    <%= f.submit "Create New User" %>
  <% end %>
</section>